@font-face {
	font-family: 'Geist';
	src:
		local(''),
		url('/fonts/GeistVF.ttf') format('truetype');
	font-weight: 100 1000;
}

@font-face {
	font-family: 'Geist Mono';
	src:
		local(''),
		url('/fonts/GeistMonoVF.ttf') format('truetype');
	font-weight: 100 1000;
}
